{% extends "messages/base.html" %} 
{% load i18n %}

{% block title %}{% trans "Deleted Messages" %} - {{ block.super }}{% endblock %}
{% block h2 %}{% trans "Deleted Messages" %}{% endblock %}
{% block primary-content %} 
  <table class="messages">
      <thead>
          <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Date" %}</th><th>{% trans "Action" %}</th></tr>
      </thead>
      <tbody>
        {% for message in message_list %} 
          <tr class="{% cycle 'evenRow' 'oddRow' %}">
              <td>{{ message.sender }}</td>
              <td> 
              {{ message.subject }}
              </td>
              <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
              <td><a href="{% url messages_undelete message.id %}">{% trans "undelete" %}</a></td>
          </tr>
        {% endfor %}
        {% if not message_list %}
          <tr class="rowNoMessages"><td colspan="4">{% trans 'No messages here.' %}</td></tr>
        {% endif %}
      </tbody>
  </table>
  <p class="error">{% trans "Deleted messages may be removed from the trash at any time. Therefore, the <em>undelete</em> option may not be available on messages deleted a while ago." %}</p>
{% endblock %}