<div class="fb_sso">
  <fb:login-button v="2" size="large" onlogin="fb_login();">Connect&nbsp;Facebook&nbsp;Account</fb:login-button>
</div>
<script type="text/javascript">
    /* <![CDATA[ */
     function fb_login() {
       FB.Connect.showPermissionDialog("offline_access", function(perms) {
           location.href="http://{{ TRUE_HOSTNAME_AND_PORT }}{% url fb_connect %}?next={% if next %}{{ next }}{% else %}{{ request.get_full_path }}{% endif %}";
       });     
       return true;
     };
    /* ]]> */
</script>

