{% extends "registration/base.html" %}
{% load i18n %}

{% block head-extra %}
 {{ form.media|safe }}
{% endblock %}

{% block title %}{% trans 'Reset password' %} - {{ block.super }}{% endblock %}

{% block content %}

{% if validlink %}

<h2>{% trans 'Enter new password' %}</h2>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
{% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Change my password' %}" class="submitButton"/></p>
</form>

{% else %}

<h2>{% trans 'Password reset unsuccessful' %}</h2>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}

{% endif %}

{% endblock %}

{% block secondary-h2 %}<h2>Sign-in</h2>{% endblock %}
{% block secondary-content %}
  <p>If you already have an account, please sign-in below</p>
  {% include "registration/tags/login_tag.html" %}
{% endblock %}
