{% extends "registration/base.html" %}

{% block head-extra %}
 {{ form.media|safe }}
{% endblock %}

{% block title %}Change Password - {{ block.super }}{% endblock %}

{% block body-class %}tertiary{% endblock %}

{% block primary-content %}
  <div class="breadcrumbs"><a href="{% url account %}">My&nbsp;Account</a>&nbsp;&raquo;&nbsp;Change&nbsp;Password</div>
  
  <h2>Change Password</h2>
  {% if form.errors %}
    <p class="error">Please correct the errors below.</p>
    {% if form.non_field_errors %}
      <ul class="errorlist">
        {{ form.non_field_errors.as_ul }}
      </ul>
    {% endif %}
  {% endif %}
  
  <form method="post" action="">{% csrf_token %}
    <table width="100%" class="form_table">
      <tbody>
        {% for field in form %}
          {% common_formfield_render_tr field %}
        {% endfor %}
        <tr>
          <td>&nbsp;</td>
          <td>
            <input type="submit" value="Change Password" />
            <a href="{% url account %}" class="cancel_btn">Cancel</a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock %}