{% if not UI_DEV_MODE %}
<script type="text/javascript">
  var _kmq = _kmq || [];
  (function() {
    var kms = document.createElement('script'); kms.type = 'text/javascript'; kms.async = true;
    kms.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/' : 'http://') + 'scripts.kissmetrics.com/133ad4adbda1e407277fb315a03108b2f7f9ee0f.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(kms);
  })();
</script>
<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->
<script type="text/javascript">
var _sf_startpt=(new Date()).getTime();
</script>
{% endif %}
