{% extends "campaign/base.html" %}

{% block head-extra %}
 {{ form.media|safe }}
{% endblock %}

{% block title %}Request Tickets - {{ block.super }}{% endblock %}

{% block h2 %}Request Tickets{% endblock %}

{% block pre-message %}{% endblock %}

{% block primary-content %}
  <h3>{{ campaign.title }}</h3>
  
  <p>Please fill out the form below to request tickets for your campaign.</p>
  
  {% if form.errors %}
    <p class="error">Please correct the errors below.</p>
    {% if form.non_field_errors %}
      <ul class="errorlist">
        {{ form.non_field_errors.as_ul }}
      </ul>
    {% endif %}
  {% endif %}
  
  <form method="post" action="">
    <fieldset>
      {% for field in form %}
        {% common_formfield_render field %}
      {% endfor %}
      <input type="submit" value="Request Tickets" class="submitButton"/>
      <a href="{% url view_campaign campaign_id=campaign.pk %}" class="cancelButton">Cancel</a>
    </fieldset>    
  </form>
{% endblock %}

