.jsOverLabelBlur .jsOverLabel {left:6px;margin-top:12px;color:#66ccff;letter-spacing:0;font-size:120%;}
.login_container .submit_area .submit_btn { background:url(../images/bg_bluebtn_signin.png) no-repeat; width:86px; height:69px; font-size:150%; color:#fff; margin-bottom:6px; }
.event_page_listing ul ul {zoom:1;}
